<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51569617544-1cs1v0e73d9ee2e3c1t4dtljo5bpf0bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51569617544-1cs1v0e73d9ee2e3c1t4dtljo5bpf0bq</string>
	<key>API_KEY</key>
	<string>AIzaSyDAxHWx0nOrxU09YtoExbvNiZTij6S9mKo</string>
	<key>GCM_SENDER_ID</key>
	<string>51569617544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mehmetali.kisacik.Beam-Analyzer</string>
	<key>PROJECT_ID</key>
	<string>beam-analyzer</string>
	<key>STORAGE_BUCKET</key>
	<string>beam-analyzer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51569617544:ios:fcfcc1587dd7bfeb4dcd3d</string>
</dict>
</plist>